/******************** FONTS ********************/

@font-face {
  font-family: nickainley;
  src: url("../fonts/Nickainley-Normal.otf");
}

@font-face {
  font-family: glacial-indifference;
  src: url("../fonts/GlacialIndifference-Regular.otf");
}

/******************** SPLASH PAGE ********************/

body {
  background-color: white;
}

#titlepage-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  animation: mainLogoTransitionIn 3s;
}

/******************** HOMEPAGE ********************/

header {
  background: none;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 125px;
  width: 125px;
}

nav ul {
  margin-right: 12px;
  padding-bottom: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: glacial-indifference;
  color: black;
  text-decoration: none;
  font-size: 25px;
  padding: 50px;
}

#hero {
  background-image: url("../img/kelowna-background.jpg");
  border: 3px solid black;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outer-circle {
  border: 3px solid rgba(255, 16, 16, 60%);
  border-radius: 50%;
  height: 550px;
  width: 550px;
  position: absolute;
  background-color: rgba(255, 255, 255, 65%);
}

#inner-circle {
  border: 3px solid rgba(0, 0, 0, 60%);
  border-radius: 50%;
  height: 515px;
  width: 515px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner-circle h1 {
  font-family: nickainley;
  font-weight: 300;
  text-align: center;
  font-size: 120px;
  margin: 0 auto;
  padding-right: 10px;
  color: rgb(34, 33, 33);
}

#inner-circle p {
  font-family: glacial-indifference;
  text-align: center;
  width: 300px;
  font-size: 25px;
  color: rgb(34, 33, 33);
}

#homepage-header {
  animation: homepageTransitionIn 2s;
}

#homepage-main {
  animation: homepageTransitionIn 2s;
}

/******************** ABOUT ME ********************/

#about-me {
  background-color: white;
  height: 800px;
  width: 100%;
}

#about-me h1 {
  font-family: nickainley;
  font-size: 80px;
  text-align: center;
  font-weight: 300;
  padding-top: 35px;
}

#leaf-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#leaf-icons img {
  height: 200px;
  width: 200px;
}

/******************** SECOND CONTAINER ********************/

#second-container {
  background-color: red;
  height: 500px;
  width: 100%;
  transform: skewY(4deg);
}

#second-container h1 {
  font-family: nickainley;
  font-size: 80px;
  text-align: center;
  font-weight: 300;
  padding-top: 35px;
  transform: skewY(-4deg);
}

/******************** THIRD CONTAINER ********************/

#third-container {
  background-color: white;
  height: 500px;
  width: 100%;
}

#third-container h1 {
  font-family: nickainley;
  font-size: 80px;
  text-align: center;
  font-weight: 300;
  padding-top: 35px;
}

/******************** FOOTER ********************/

#home-footer {
  background-color: red;
  text-align: center;
  height: 100px;
  width: 100%;
  padding-top: 50px;
}

/******************** KEYFRAMES ********************/

@keyframes mainLogoTransitionIn {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }

  to {
    opacity: 1;
    height: 500px;
    width: 500px;
  }
}

@keyframes homepageTransitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
