/******************** FONTS ********************/

@font-face {
  font-family: nickainley;
  src: url("../fonts/Nickainley-Normal.otf");
}

@font-face {
  font-family: glacial-indifference;
  src: url("../fonts/GlacialIndifference-Regular.otf");
}

/******************** MAIN STYLES ********************/

html {
  margin-top: 0;
  padding-top: 0;
}
body {
  margin-top: 0;
  padding-top: 0;
  background-color: white;
}

/******************** SPLASH PAGE ********************/

#titlepage-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  animation: mainLogoTransitionIn 3s;
}

/******************** HOMEPAGE ********************/

#homepage-main {
  animation: homepageTransitionIn 2s;
}

/******************** HEADER ********************/

header {
  background-color: rgb(34, 33, 33);
  height: 200px;
  width: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  animation: homepageTransitionIn 2s;
}

#homepage-header {
  background-color: rgb(34, 33, 33);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  /* transition: 0.2s; */
  font-size: 25px;
  z-index: 1;
  top: 0;
  right: 2px;
  left: 11px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  animation: homepageTransitionIn 2s;
}

#logo {
  height: 125px;
  width: 125px;
}

nav ul {
  margin-right: 12px;
  padding-bottom: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: glacial-indifference;
  color: white;
  text-decoration: none;
  padding: 50px;
}

/******************** HERO SECTION ********************/

#hero {
  background-image: url("../img/background-microchip.jpg");
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outer-circle {
  background-color: rgb(255, 22, 22);
  border: 3px solid white;
  border-radius: 50%;
  height: 550px;
  width: 550px;
  position: absolute;
}

#inner-circle {
  border: 3px solid white;
  border-radius: 50%;
  height: 515px;
  width: 515px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner-circle h1 {
  font-family: nickainley;
  font-weight: 300;
  text-align: center;
  font-size: 120px;
  margin: 0 auto;
  padding-right: 10px;
  color: rgb(34, 33, 33);
}

#inner-circle p {
  font-family: glacial-indifference;
  text-align: center;
  width: 300px;
  font-size: 25px;
  color: rgb(34, 33, 33);
}

/******************** ABOUT ME ********************/

#about-me {
  background-color: rgb(44, 46, 46);
  border-right: 3px solid black;
  border-left: 3px solid black;
  height: 800px;
  width: 100%;
}

.fade-right {
  opacity: 0;
  transition: opacity 1.25s ease-in, transform 0.75s ease-in;
  transform: translateX(-50%);
}

.fade-right.appear {
  opacity: 1;
  transform: translateX(0);
}

#about-me h1 {
  font-family: nickainley;
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
}

.language-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.language-logo img {
  height: 150px;
  width: 150px;
}

.language-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-logo h2 {
  font-family: glacial-indifference;
  color: white;
  margin: 0 auto;
}

.description-and-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.description-and-picture p {
  font-family: glacial-indifference;
  font-size: 20px;
  text-align: center;
  background-color: rgb(255, 22, 22);
  height: 300px;
  margin-top: 75px;
  margin-left: 50px;
  padding: 25px 25px 0 25px;
  border: 10px double white;
  border-radius: 25%;
}

.profile-pic {
  height: 350px;
  border: 10px double white;
  border-radius: 50%;
  margin: 75px 30px 0 50px;
}

/******************** PORTFOLIO ********************/

#portfolio {
  background-color: rgb(34, 34, 34);
  border-right: 3px solid black;
  border-left: 3px solid black;
  height: 950px;
  width: 100%;
}

.fade-left {
  opacity: 0;
  transition: opacity 1.25s ease-in, transform 0.75s ease-in;
  transform: translateX(50%);
}

.fade-left.appear {
  opacity: 1;
  transform: translateX(0);
}

#portfolio h1 {
  font-family: nickainley;
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
}

#featured-portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.flip-box {
  background-color: transparent;
  width: 375px;
  height: 200px;
  margin: 20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: lightgray;
  border: 5px double rgb(255, 22, 22);
  transform: rotateY(180deg);
}

.flip-box-front img {
  height: 200px;
  width: 375px;
  border: 2px solid white;
}

.flip-box-back a {
  text-decoration: none;
}

.flip-box-back h2 {
  color: rgb(255, 22, 22);
  font-family: nickainley;
  font-size: 35px;
  text-align: center;
}

.flip-box-back p {
  color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

/******************** CONTACT ********************/

#contact {
  background-image: url("../img/background-microchip-flipped.jpg");
  height: 550px;
  width: 100%;
  border: 3px solid black;
}

.fade-up {
  opacity: 0;
  transition: opacity 1.25s ease-in, transform 0.75s ease-in;
  transform: translateY(25%);
}

.fade-up.appear {
  opacity: 1;
  transform: translateY(0);
}

#contact h1 {
  font-family: nickainley;
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 25px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0 0 25px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 22, 22);
  padding: 35px;
  border: 5px double white;
  border-radius: 4px;
  margin-bottom: 60px;
  width: 350px;
  transition: transform 0.2s;
}

#contact-form:hover {
  transform: scale(1.2);
}

input {
  font-family: glacial-indifference;
  background-color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  color: white;
  font-size: 15px;
  width: 100%;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 5px;
}

::placeholder {
  color: white;
}

textarea {
  background-color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  font-size: 15px;
  color: white;
  width: 100%;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 5px;
  resize: vertical;
}

button {
  background-color: rgb(255, 22, 22);
  cursor: pointer;
  font-family: glacial-indifference;
  color: white;
  font-size: 15px;
  width: 75%;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 5px;
}

#social-media {
  padding-bottom: 250px;
}

#social-media p {
  font-family: glacial-indifference;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 400px;
  position: absolute;
}

#github-thumbnail {
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
  cursor: pointer;
}

#github-thumbnail:hover {
  transform: scale(1.2);
}

#linkedin-thumbnail {
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
  cursor: pointer;
}

#linkedin-thumbnail:hover {
  transform: scale(1.2);
}

/******************** FOOTER ********************/

#home-footer {
  background-color: rgb(34, 33, 33);
  height: 35px;
  width: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#home-footer p {
  font-family: glacial-indifference;
  text-align: center;
  padding-top: 7px;
  margin: 0;
  color: white;
}

/******************** KEYFRAMES ********************/

@keyframes mainLogoTransitionIn {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }

  to {
    opacity: 1;
    height: 500px;
    width: 500px;
  }
}

@keyframes homepageTransitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
