/******************** FONTS ********************/

@font-face {
  font-family: nickainley;
  src: url("../fonts/Nickainley-Normal.otf");
}

@font-face {
  font-family: glacial-indifference;
  src: url("../fonts/GlacialIndifference-Regular.otf");
}

/******************** SPLASH PAGE ********************/

body {
  background-color: white;
}

#titlepage-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  animation: mainLogoTransitionIn 3s;
}

/******************** HOMEPAGE ********************/

/******************** HEADER ********************/

header {
  background-image: url("../img/background-microchip-flipped.jpg");
  background-size: cover;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#logo {
  height: 125px;
  width: 125px;
}

nav ul {
  margin-right: 12px;
  padding-bottom: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  font-family: glacial-indifference;
  color: white;
  text-decoration: none;
  font-size: 25px;
  padding: 50px;
}

/******************** HERO SECTION ********************/

#hero {
  background-image: url("../img/background-microchip.jpg");
  background-position: center;
  border: 3px solid black;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outer-circle {
  background-color: rgb(255, 22, 22);
  border: 3px solid white;
  border-radius: 50%;
  height: 550px;
  width: 550px;
  position: absolute;
}

#inner-circle {
  border: 3px solid white;
  border-radius: 50%;
  height: 515px;
  width: 515px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#inner-circle h1 {
  font-family: nickainley;
  font-weight: 300;
  text-align: center;
  font-size: 120px;
  margin: 0 auto;
  padding-right: 10px;
  color: rgb(34, 33, 33);
}

#inner-circle p {
  font-family: glacial-indifference;
  text-align: center;
  width: 300px;
  font-size: 25px;
  color: rgb(34, 33, 33);
}

#homepage-header {
  animation: homepageTransitionIn 2s;
}

#homepage-main {
  animation: homepageTransitionIn 2s;
}

/******************** ABOUT ME ********************/

#about-me {
  background-image: url("../img/background-microchip.jpg");
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  height: 800px;
  width: 100%;
}

#about-me h1 {
  font-family: nickainley;
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
}

#language-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#language-icons img {
  height: 150px;
  width: 150px;
}

.language-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.language-logo h2 {
  font-family: glacial-indifference;
  color: white;
  margin: 0 auto;
}

#description-and-picture {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#description-and-picture p {
  font-family: glacial-indifference;
  font-size: 20px;
  text-align: center;
  background-color: rgb(255, 22, 22);
  height: 300px;
  margin-top: 75px;
  margin-left: 50px;
  padding: 25px 25px 0 25px;
  border: 10px double white;
  border-radius: 25%;
}

#profile-pic {
  height: 350px;
  border: 10px double rgb(255, 22, 22);
  border-radius: 50%;
  margin: 75px 30px 0 50px;
}

/******************** PORTFOLIO ********************/

#portfolio {
  background-image: url("../img/background-microchip-flipped.jpg");
  border-right: 3px solid black;
  border-left: 3px solid black;
  height: 950px;
  width: 100%;
}

#portfolio h1 {
  font-family: nickainley;
  color: rgb(255, 22, 22);
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 35px;
}

#featured-portfolio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  position: relative;
}

.thumbnail img {
  height: 200px;
  width: 375px;
  margin: 10px;
  border: 2px solid white;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 3px double rgb(255, 22, 22);
  margin: 10px;
  overflow: hidden;
  height: 205px;
  width: 375px;
  transform: scale(0);
  transition: 0.3s ease-in;
  opacity: 90%;
}

.thumbnail:hover .overlay {
  transform: scale(1);
}

.overlay a {
  text-decoration: none;
}

.overlay h2 {
  color: rgb(255, 22, 22);
  font-family: nickainley;
  font-size: 35px;
  text-align: center;
}

.overlay p {
  color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
/******************** CONTACT ********************/

#contact {
  background-image: url("../img/background-microchip-flipped.jpg");
  height: 550px;
  width: 100%;
  border: 3px solid black;
}

#contact h1 {
  font-family: nickainley;
  color: white;
  font-size: 70px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  padding-top: 25px;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0 0 25px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 22, 22);
  padding: 35px;
  border: 3px solid white;
  border-radius: 4px;
  margin-bottom: 60px;
  width: 350px;
}

input {
  font-family: glacial-indifference;
  background-color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  color: white;
  font-size: 15px;
  width: 100%;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 5px;
}

::placeholder {
  color: white;
}

textarea {
  background-color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  font-size: 15px;
  color: white;
  width: 100%;
  border: 1.5px solid white;
  border-radius: 4px;
  padding: 5px;
  resize: vertical;
}

button {
  background-color: rgb(255, 22, 22);
  font-family: glacial-indifference;
  color: white;
  font-size: 15px;
  width: 75%;
  border: 1.5px solid black;
  border-radius: 4px;
  padding: 5px;
}

#social-media {
  padding-bottom: 250px;
}

#social-media p {
  font-family: glacial-indifference;
  color: white;
  font-size: 30px;
  text-align: center;
  width: 400px;
  position: absolute;
}

#github-thumbnail {
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
}

#github-thumbnail:hover {
  transform: scale(1.5);
}

#linkedin-thumbnail {
  height: 200px;
  width: 200px;
  transition: transform 0.2s;
}

#linkedin-thumbnail:hover {
  transform: scale(1.5);
}

/******************** FOOTER ********************/

#home-footer {
  background-image: url("../img/background-microchip.jpg");
  height: 35px;
  width: 100%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#home-footer p {
  font-family: glacial-indifference;
  text-align: center;
  padding-top: 7px;
  margin: 0;
  color: white;
}

/******************** KEYFRAMES ********************/

@keyframes mainLogoTransitionIn {
  from {
    opacity: 0;
    height: 0;
    width: 0;
  }

  to {
    opacity: 1;
    height: 500px;
    width: 500px;
  }
}

@keyframes homepageTransitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
